<!-- Главная страница (базовая где будут отрисовываться все остальные страницы) -->
<!Doctype html>
<html lang='ru'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<!-- Навигация -->
  <nav class='navbar navbar-dark bg-danger'>
    <div class='container-fluid'>
      <a class='navbar-brand' href='{% url "rooms" %}'><img src="../../media/logos/Image.svg" alt="" class="" style="max-height:30px"> Конференция.РФ</a>
      <div class='d-flex gap-2'>
        {% if user.is_authenticated %}
          {% if user.is_staff %}<a href='{% url "admin_panel" %}' class='btn btn-sm btn-outline-warning'>Админ</a>{% endif %}
          <a href='{% url "profile" %}' class='btn btn-sm btn-outline-light'>Личный кабинет</a>
          <a href='{% url "logout" %}' class='btn btn-sm text-white'>Выход</a>
        {% else %}
          <a href='{% url "login" %}' class='btn btn-sm btn-outline-light'>Вход</a>
          <a href='{% url "register" %}' class='btn btn-sm btn-outline-light'>Регистрация</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class='container mt-4'>
    {% block content %}{% endblock %}
  </div>
  <!-- <script src='/static/bootstrap.bundle.min.js'></script> -->
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>